{% extends '@App/base.html.twig' %}

{% block body %}
<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>SOCIETE - Mentions légales</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                    <li><a href="index.php">Accueil</a>
                    </li>
                    <li>Société</li>

                </ul>

            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container" id="contact">

        <div class="row">
            <div class="col-md-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus urna non urna auctor tempor. Ut hendrerit sollicitudin elementum. Sed maximus sapien augue, in ornare nisl sagittis sed. Sed vel ante mollis, scelerisque tortor eu, interdum magna. Phasellus vitae justo ut libero congue vulputate. Praesent eros metus, consectetur eget gravida aliquet, iaculis nec sem. Etiam sem massa, tempus vitae justo nec, aliquet porta orci. Donec condimentum nunc at varius pulvinar.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus urna non urna auctor tempor. Ut hendrerit sollicitudin elementum. Sed maximus sapien augue, in ornare nisl sagittis sed. Sed vel ante mollis, scelerisque tortor eu, interdum magna. Phasellus vitae justo ut libero congue vulputate. Praesent eros metus, consectetur eget gravida aliquet, iaculis nec sem. Etiam sem massa, tempus vitae justo nec, aliquet porta orci. Donec condimentum nunc at varius pulvinar.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus urna non urna auctor tempor. Ut hendrerit sollicitudin elementum. Sed maximus sapien augue, in ornare nisl sagittis sed. Sed vel ante mollis, scelerisque tortor eu, interdum magna. Phasellus vitae justo ut libero congue vulputate. Praesent eros metus, consectetur eget gravida aliquet, iaculis nec sem. Etiam sem massa, tempus vitae justo nec, aliquet porta orci. Donec condimentum nunc at varius pulvinar.</p>
            </div>
        </div>

    </div>
</div>
{% endblock %}
